{% extends "MyLoremBundle::layout.html.twig" %}
{% block content %}
    <h3>Ojciec i syn</h3>

    <p>
        W poniedziałek rano<br />
        Kosił ojciec siano,<br />
        Kosił ojciec, kosił ja,<br />
        Kosiliśmy obydwa.
    </p>

    <p>
        A we wtorek rano<br />
        grabił ojciec siano,<br />
        Grabił ojciec, grabił ja,<br />
        Grabiliśmy obydwa.
    </p>

    <p>
        A we środę rano<br />
        Suszył ojciec siano,<br />
        Suszył ojciec, suszył ja,<br />
        Suszyliśmy obydwa.
    </p>

    <p>
        A we czwartek rano<br />
        Zwoził ojciec siano,<br />
        Zwoził ojciec, zwoził ja,<br />
        Zwoziliśmy obydwa.
    </p>

    <p>
        A zaś w piątek rano<br />
        Sprzedał ojciec siano,<br />
        Sprzedał ojciec, sprzedał ja,<br />
        Sprzedaliśmy obydwa.
    </p>

    <p>
        A w sobotę rano<br />
        Przepił ojciec siano,<br />
        Przepił ojciec, przepił ja,<br />
        Przepiliśmy obydwa.
    </p>

    <p>
        A w niedzielę rano<br />
        Już nie było siana,<br />
        Płakał ojciec, płakał ja,<br />
        Płakaliśmy obydwa.
    </p>
{% endblock %}