{% extends "MyLoremBundle::layout.html.twig" %}
{% block content %}
    <h3>Kółko graniaste</h3>

    <p>
        Kółko graniaste,<br />
        Czworokanciaste,<br />
        Kółko nam się połamało,<br />
        Cztery grosze kosztowało,<br />
        A my wszyscy bęc!
    </p>
{% endblock %}