{% extends "MyLoremBundle::layout.html.twig" %}
{% block content %}
    <h2>Jadą, jadą misie</h2>
    <p>
        Jadą, jadą misie,<br />
        Tra la, tra la la,<br />
        ...
    </p>
{% endblock %}