<!DOCTYPE html>
<html>
<head>
    <title>Bezpieczna paleta kolorów</title>
    <meta charset="UTF-8" />
    <style>
        body {
            font-family: "Courier New", monospace;
        }
        table {
            border-collapse: collapse;
            border: 2px solid black;
        }

        td {
            border: 1px solid black;
        }

        th {
            border: 1px solid black;
        }
        .kolor {
            width: 20px;
            height: 20px;
        }
    </style>
</head>
<body>
{% set kody = ['00', '33', '66', '99', 'CC', 'FF'] %}
{% set kolumny = 6 %}
{% set numer = 0 %}
<table>
    {% for i in 0..5 %}
        {% for j in 0..5 %}
            {% for k in 0..5 %}
                {% set kolorek = kody[i] ~ kody[j] ~ kody[k] %}
                {% if (numer % kolumny) == 0 %}
                    <tr>
                {% endif %}
                <td class="kolor" style="background: #{{ kolorek}}"></td>
                <td>{{ kolorek}}</td>
                {% if (numer % kolumny) == kolumny - 1 %}
                    </tr>
                {% endif %}
                {% set numer = numer + 1 %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
</table>
</body>
</html>