<!DOCTYPE html>
<html>
<head>
    <title>Pusta Dolinka</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" media="screen" />
    <script src="{{ asset('js/jquery-1.6.4.min.js') }}"></script>
    <script src="{{ asset('js/animacja.js') }}"></script>

</head>
<body>

<h1>Tatry</h1>
<h2>Pusta Dolinka</h2>
<p>
    <img src="images/pusta-dolinka.jpg" alt="Pusta Dolinka" />
</p>


<div>
    Por. Wikipedia:
    <ul>

        <li><a href="http://pl.wikipedia.org/wiki/Pusta_Dolinka">Pusta Dolinka</a></li>
        <li><a href="http://pl.wikipedia.org/wiki/Kozie_Czuby">Kozie Czuby</a></li>
        <li><a href="http://pl.wikipedia.org/wiki/Ma%C5%82y_Kozi_Wierch">Mały Kozi Wierch</a></li>
        <li><a href="http://pl.wikipedia.org/wiki/Zamar%C5%82a_Turnia">Zamarła Turnia</a></li>
    </ul>
</div>

</body>

</html>