{% extends "MyZabytekBundle::layout.html.twig" %}
{% block content %}
    <div class="element">
        <div class="foto">
            <img src="bundles/myzabytek/images/zamek.jpg" alt="Zamek Królewski" />
        </div>
        <div class="podpis">
            <h2>Zamek Królewski</h2>
            <p>
                Zamek Królewski był siedzibą Jagielonów.
                Rodzina królewska zatrzymywała się w nim podróżując z Krakowa do Wilna i z Wilna do Krakowa.
                Z władysławem Jagiełłą przyjeżdżała tu Królowa Jadwiga.
                Jan Długosz, najwybitniejszy polski historyk, tutaj uczył historii synów Kazimierza Jagiellończyka.
                W Lubelskim zamku w 1569 roku obradował sejm polsko-litewski.
                Zamek po napadzie Tatarów został wymurowany, działo się to w 1341 roku.
            </p>
        </div>
        <br />
    </div>
{% endblock %}