<!DOCTYPE html>
<html>
<head>
    <title>Pusta Dolinka</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" media="screen" />
    <script src="{{ asset('js/jquery-1.6.4.min.js') }}"></script>
    <script src="{{ asset('js/animacja.js') }}"></script>
</head>
<body>
<h1>Tatry</h1>
<h2>Pusta Dolinka</h2>
<p>
    <img src="{{ asset('images/pusta-dolinka.jpg') }}" alt="Pusta Dolinka" />
</p>
...odsyłacze do Wikipedii...
</body>
</html>