{% extends "MyZabytekBundle::layout.html.twig" %}
{% block content %}
    <div class="element">
        <div class="foto">
            <img src="{{ asset('bundles/myzabytek/images/brama-krakowska.jpg') }}" alt="Brama Krakowska" />
        </div>
        <div class="podpis">
            <h2>Brama Krakowska</h2>
            <p>
                Przy placu Władysława Łokietka wznosi się Brama Krakowska.
                W średniowieczu zaczynała się stąd droga do Krakowa.
                Brama Krakowska została wybudowana na polecenie Kazimierza Wielkiego.
                Dolna część bramy jest najstarsza, pochodzi z czasów średniowiecza.
                W XV wieku brama otrzymała nadbudowę.
            </p>
        </div>
        <br />
    </div>
{% endblock %}