{% extends "MyZabytekBundle::layout.html.twig" %}
{% block content %}
    <div class="element">
        <div class="foto">
            <img src="bundles/myzabytekimages/wieza-trynitarska.jpg" alt="Wieża Trynitarska" />
        </div>
        <div class="podpis">
            <h2>Wieża Trynitarska</h2>
            <p>
                Wieża Trynitarska była kiedyś zwykłą furtką klasztorną.
                Jej nazwa pochodzi od zakonu trynitarzy.
                Teraz wieża wygląda tak jak została zbudowana w 1819 roku przez Antonia Corazziego.
            </p>
        </div>
        <br />
    </div>
{% endblock %}