<!DOCTYPE html>
<html>
<head>
    <title>Tabliczka mnożenia</title>
    <meta charset="UTF-8" />
    <style>
        body {
            font-family: Verdana, sans-serif;
            text-align: center;
        }

        table {
            border-collapse: collapse;
            border: 1px solid black;
            margin: 0 auto;
        }

        td {
            border: solid black 1px;
            width: 20px;
            text-align: right;
            padding: 5px;
        }

        th {
            border: solid black 1px;
            width: 20px;
            text-align: center;
            color: white;
            background: black;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Tabliczka mnożenia</h1>
{% set liczba_wierszy = 12 %}
{% set liczba_kolumn = 8 %}
<table>
    <tr>
        <th></th>
        {% for i in 1..liczba_kolumn %}
        <th>{{ i }}</th>
        {% endfor %}
    </tr>
    {% for i in 1..liczba_wierszy %}
        <tr>
            <th>{{ i }}</th>
            {% for j in 1..liczba_kolumn %}
                <td>{{ i * j }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</body>
</html>