{% extends "MyPoemBundle::layout.html.twig" %}
{% block content %}
    <h2>Włodzimierz Gajda</h2>
    <h3>Dwa kabele</h3>
    <p>
        Czesem tak sie dziwnie składa,<br />
        Że gdy nic nie zapowiada<br />
        Żadnych nieszczęść czy frustracji,<br />
        Jakiś smyk wkroczy do akcji<br />
        I, być może bez złych chęci,<br />
        Sielankę ojcu zamąci.<br />
        ...
    </p>
{% endblock %}